/* Some styles for iconuk presentation */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Source Sans Pro','Arial','Verdana', sans-serif;
    min-height: 740px;
    background: #000;
}

.step {
    position: relative;
    width: 900px;
    margin: 20px auto;
    background-color:#fff;
}

.impress-enabled .step.active {
    margin: 0;
    opacity: 1;
    border:0;
}
.impress-enabled .future, .impress-enabled .past {
    /* opacity: 0; */
    opacity: 0.5
}

.impress-enabled .step.active.present { 
    opacity: 1;
    border:none; 
}

.slide {
    background-image:url('../images/background-heading.png');
    background-repeat:no-repeat;
    background-attachment:inherit;
    background-position:center;
    background-color:white;
    display: block;
    width: 931px;
    height: 608px;
    padding-top:90px;
    padding-left:35px;  
    padding-right:30px;
    margin:0;
}
.subhead, .nobg, .img{
    background-image:none !important;
    background-color:black;
    color:white;
    display: block;
    position:relative;
    width: 1024px;
    height: 658px;
    padding:0;
    margin:0;
}

/* Formating default slide */
.slide h1{
    font-size:48px;
    padding-top:0;
    padding-bottom:30px;
    font-weight:bold;
}
.slide h2{
    font-size:24px;
    text-align:center;
    padding-top:20;
    padding-bottom:10px;
    font-weight:bold;
}
.nobg h1, .nobg h2{
    padding-bottom:10px;
}
.slide ul{
    list-style-position:inside;
    list-style-type:disc;
}

.slide ul li{
    font-size:30px;
    padding-left:24px;
    padding-top:15px;
}
.slide ul ul li{
    font-size:26;
    padding-left:72px;
}
.subhead h1{
    text-align:center;
    vertical-align:middle;
    padding-top:280px;
}   
.inline{
    padding-top:20px;    
}

.inline h1{
    font-size:48px;
}

#intro{
    margin: 40px 0;
    line-height: 150%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    border:none;
    background: none;
    font-family: "PT Sans";
}

#intro .title1{
    color: #fff;
}
#intro .title2{
    color: #B33535;
    font-size: 70px;
    font-weight: bold;
}


.step .round{
    background: none repeat scroll 0 0 #2390C2;
    border: 20px solid;
    border-radius: 400px 400px 400px 400px;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 90px;
    font-weight: bold;
    height: 150px;
    margin: auto;
    padding: 250px 0;
    text-align: center;
    vertical-align: middle;
    width: 650px;
}

/*
The last step is an overview.
There is no content in it, so we make sure it's not visible because we want
to be able to click on other steps.

 */
#overview { display: none }

/* Remove fallback message */
.impress-supported .fallback-message {
    display: none;
}


/* All styles for title page */
#title{
    background-image:url('../images/background-default.png');
    background-repeat:no-repeat;
    background-attachment:inherit;
    background-position:center;
    background-color:white;
    border:1px solid black;
    display: block;
    width: 936px;
    height: 548px;
    padding-top:150px;
    padding-left:30px;  
    padding-right:30px;
    margin:0;
}

#title h1{
    font-family:arial,sans-serif;
    font-weight:bold;
    font-size:52px;
    text-align:right;
    padding-top:10px;
}
#title h2{
    font-family:arial,sans-serif;
    font-weight:normal;
    padding-top:0;
    font-size:26px;
    text-align:right; 
    padding-bottom:85px;
}
#title h3,h4{
    font-family:arial,sans-serif;
    font-weight:normal;
    padding-top:10px;
    font-size:20px;
    text-align:right; 
}
#title h3{
    font-weight:bold;
}
#title h4{
    padding-top:0;
}
#title a:link, #title a:visited, #title a:active{
    text-decoration: none;
    color:black;
}
#title a:hover{
    text-decoration: underline;
}
.syntaxhighlighter table td.gutter .line {
    text-align: right !important;
    padding: 0.06em 0.2em 0 0.2em !important;
}
.syntaxhighlighter {
    margin: 0.5em 0 1em 0 !important;
}
.nobg .syntaxhighlighter a, .nobg .syntaxhighlighter div, .nobg .syntaxhighlighter code, .nobg .syntaxhighlighter table, .nobg .syntaxhighlighter table td, .nobg .syntaxhighlighter table tr, .nobg .syntaxhighlighter table tbody, .nobg .syntaxhighlighter table thead, .nobg .syntaxhighlighter table caption, .nobg .syntaxhighlighter textarea {
    padding-top:20px !important;
    padding-bottom:20px !important;
}
.syntaxhighlighter .toolbar{
    border: none repeat scroll 0 0 white !important;
}
li.important{
    font-weigth:bold;
    color:red;
}
li.mono{
    list-style-type:none;
    font-family:mono;
}
li.code{
    list-style-type:none;
    font-size:1em !important;
}
#ibmcnxload li.code, #loadall li.code{
    padding-bottom:-5px;
    margin-bottom:-20px;
    margin-top:-10px;
}
/* Special Styles  */
.sideimg img{
    float:right;
    width:300px;
    margin-right:40px;
}
.sideimg ul{
    float:left;
    width:580px;
}
/* Slides with single images */
div.img{
    padding-top:10px;
    background-image:none !important;
    background-color:inherit;
}
.img img{
    text-align:center;
    valign:middle;
    /*    width:930px;*/
    width:1024px;
}
p.alert{
    font-size:2em;
    text-align:center;
    color:red;
}
p.text{
    font-size:1.8em;
    text-align:left;
    color:#666666;
}
@media print {
    .page-break{ display: block; page-break-before: always; }
    .slide {
        border 1px solid black;
        width: 90%;
        background-image:none;
    }
    .img{
        width:50%;
        display:none;
    }
    body{max-width:25cm;max-height:18cm}

    .impress-supported .fallback-message {
        display: none;
    }
}   
